#beaches {
    background: #827FE9;
    background: -webkit-linear-gradient(bottom, #827FE9, #72B1E9);
    background: -moz-linear-gradient(bottom, #827FE9, #72B1E9);
    background: linear-gradient(to top, #827FE9, #72B1E9);
}

#mountains {
    background: #BE712E;
    background: -webkit-linear-gradient(bottom, #BE712E, #DFBA9A);
    background: -moz-linear-gradient(bottom, #BE712E, #DFBA9A);
    background: linear-gradient(to top, #BE712E, #DFBA9A);;
}

img {
    width: 100%;
    height: auto;
}

.my-gallery figcaption {
    display: none;
}

figure {
    display: inline-block;
    width: 46%;
}
